html {
    background-color: aqua;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    font-size: 100px;
    margin: right;
    width: 40%;
}
h1:hover{
    text-align: left;
}
h2 {
    text-align: center;
    background-color: chocolate;
    width: 25%;
    margin: auto;
}
h2:hover{
    text-align: left;
    margin: 5px;
}
p{
    font-family: cursive;
    border: 1px greenyellow solid;
    margin-left: 10%;
}
p:hover{
    text-align: right;
}
table{
    background-color: cadetblue;
    text-align: center;
    margin: auto;
    border: 1px red;
}
td{
    border: 1px solid black;
    padding: 2px;
}
tr:nth-child(even){
    background-color: chartreuse;
    color: rgb(132, 187, 43);
}
tr:nth-child(even):hover{
    color: darkgreen;
}
tr:nth-child(odd){
    background-color: deeppink;
    color: darkviolet;
}
tr:nth-child(odd):hover{
    color: burlywood;
}
th{
    background-color: aquamarine;
    color: blue;
    font-size: larger;
    border: 1px solid black;
    padding: 4px;
}
img {
    width: 20em;
    height: 20em;
    padding: 3px;
}
.images {
    background-color: blueviolet;
    width: auto;
    text-align: center;
}
.pturtle:hover {
    border: 7px solid white;
}
.apturtle:hover {
    border: 7px solid white;
}
.uturtle:hover {
    border: 7px solid white;
}